@model WebProject.Models.MovieNameDirector

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/index.css">
<div class="maindiv">
    <div class="maindiv"><h1>Details</h1></div>
    <br></br>
    <div>
        <dl class="row text-white">
            <dt class="col-sm-2">
                Movie Name:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MovieName)
            </dd>
            <dt class="col-sm-2">
                Movie Director:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MovieDirector)
            </dd>
        </dl>
    </div>
    <div>
        <a class="text-decoration-none text-white" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a class="text-decoration-none text-white" asp-action="Index">Back to List</a>
    </div>
</div>