@model WebProject.Models.MovieNameDirector

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/index.css">
<div class="maindiv">
    <div class="maindiv"><h1>Edit</h1></div>
    <br></br>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group text-white">
                    <label asp-for="MovieName" class="control-label">Movie Name:</label>
                    <input asp-for="MovieName" class="form-control" />
                    <span asp-validation-for="MovieName" class="text-danger"></span>
                </div>
                <br></br>
                <div class="form-group text-white">
                    <label asp-for="MovieDirector" class="control-label">Movie Director</label>
                    <input asp-for="MovieDirector" class="form-control" />
                    <span asp-validation-for="MovieDirector" class="text-danger"></span>
                </div>
                <br></br>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-light" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="text-decoration-none text-white" asp-action="Index">Back to List</a>
    </div>
</div>







@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}