@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-image d-flex justify-content-center align-items-center"
     style="
            height: 15vh;
background-color:black;
            ">
    

    <figure class="text-center">
        <blockquote class="blockquote text-center">
            <p><i>“It's not what a movie is about, it's how it is about it.”</i></p>
        </blockquote>
        <figcaption >
            Roger Ebert <cite title="Source Title">Film Critic</cite>
        </figcaption>
    </figure>

</div>


<div class="container my-5">
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="bg-image card shadow-3-strong"
                 style= "
                  background-image: url('https://i.pinimg.com/564x/79/c0/30/79c030313e5d014a5d7b760e7aea536a.jpg');
                  ">
                <div class="card-body text-black text-break ">
                    <h5 class="card-title">The Good Bad Mother</h5>
                    <p class="card-text">
                        The series depicts a mother and son who set off in search of true 
                        happiness only after everything is 'reset' and are expected to 
                        leave a deep impression in delightful laughs.
                    </p>
                    <a href="#!" class="btn btn-outline-light">Click here to watch</a>
                </div>
            </div>
            <!-- Card -->
        </div>
        
        <div class="col-lg-4 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="bg-image card shadow-1-strong"
                 style="
                  background-image: url('https://i.pinimg.com/564x/c6/f6/91/c6f691da74c3b637435b1e14099edc49.jpg');
                 
                  ">
                <div class="card-body text-black">
                    <h5 class="card-title">Friends</h5>
                    <p class="card-text">
                        Follows the personal and professional lives of six twenty to thirty year-old friends living in the Manhattan borough of New York City.
                        It lasted 10 seasons.
                    </p>
                    <a href="#!" class="btn btn-outline-light">Click here to watch</a>
                </div>
            </div>
            <!-- Card -->
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="bg-image card shadow-1-strong"
                 style="
                  background-image: url('https://i.pinimg.com/564x/1c/c6/eb/1cc6eb8a53ce6962c2b1bb96dadb9b16.jpg');
                  ">
                <div class="card-body text-black">
                    <h5 class="card-title">Kill Boksoon</h5>
                    <p class="card-text">
                        It is a crime action film starring Jeon Do-yeon and about 
                        a single mother who is a renowned hired killer finds it difficult to achieve a 
                        balance between her personal and work life.
                       
                    </p>
                    <a href="#!" class="btn btn-outline-light">Click here to watch</a>
                </div>
            </div>
            <!-- Card -->
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="bg-image card shadow-1-strong"
                 style="
                  background-image: url('https://i.pinimg.com/564x/34/30/6b/34306b98d5b118ae5d18983a4b15abb6.jpg');
                  ">
                <div class="card-body text-black">
                    <h5 class="card-title">One Piece</h5>
                    <p class="card-text">
                        Follows the adventures of Monkey D. Luffy and his pirate crew in order to 
                        find the greatest treasure ever left by the legendary Pirate, Gold Roger. 
                        The famous mystery treasure named "One Piece".
                    </p>
                    <a href="#!" class="btn btn-outline-light">Click here to watch</a>
                </div>
            </div>
            <!-- Card -->
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="bg-image card shadow-1-strong"
                 style="
                  background-image: url('https://i.pinimg.com/564x/82/b0/81/82b08135ac4bec15782d4ddc4d7223a6.jpg');
                  ">
                <div class="card-body text-black">
                    <h5 class="card-title">Naruto</h5>
                    <p class="card-text">
                        It is a Japanese manga series written and illustrated by Masashi 
                        Kishimoto. Naruto Uzumaki, a mischievous adolescent ninja,
                        struggles as he searches for recognition and dreams of becoming the Hokage, 
                        the village's leader. 
                    </p>
                    <a href="#!" class="btn btn-outline-light">Click here to watch</a>
                </div>
            </div>
            <!-- Card -->
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="bg-image card shadow-1-strong"
                 style="
                  background-image: url('https://i.pinimg.com/564x/a2/8d/f3/a28df32aad2e451b900bd395af165334.jpg');
                  ">
                <div class="card-body text-black">
                    <h5 class="card-title">Stranger Things</h5>
                    <p class="card-text">
                        When a young boy disappears, his mother, a police chief and his friends must 
                        confront terrifying supernatural forces in order to get him back.
                        <br>
                        <i>"The world is turning upside down."</i>
                    </p>
                    <a href="#!" class="btn btn-outline-light">Click here to watch</a>
                </div>
            </div>
            <!-- Card -->
        </div>
    </div>
</div>